#blog_container {
    float: left;
    width: 670px;
}
.post-entry {
    float: left;
    margin-bottom: 40px;
}
.calendar-div, .content-div {
    display: block;
    float: left;
}

.entry-content
{    width: 451;
}
.calendar-div {
    border: 1px solid #555555;
    padding: 2px 5px 0;
    width: 40px;
}
.entry-month {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.entry-date {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-div {
    margin-left: 20px;
    width: 598px;
}
.content-div h1 {
    color: #FF9900;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}
.social {
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    margin: 20px 0;
    padding: 5px;
    width: 588px;
}
.read_more {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
}
.read_more h1 {
    color: #FF9900;
    font-family: Helvetica Neue;
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
}
#blog-sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    float: left;
    margin-left: 40px;
    padding: 20px;
    width: 210px;
}
#blog-sidebar h1 {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-shadow: 5px 4px 2px black;
}
.categories {
    border-top: 1px solid #555555;
    margin-top: 0;
    padding-left: 15px;
    padding-top: 15px;
}
.categories li a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
.categories li a:hover, .categories li a.selected {
    color: #FF9900;
}
.fb_iframe_widget {
    background-color: #FFFFFF;
}
.fb_edge_widget_with_comment {
    background-color: transparent;
    color: white;
    float: right;  
}

.content-div a{
color:black;
}

