* {  margin:0;
     padding:0
  }

html, body {
             height:100%  
            }

body {
      background-color:#161616
      height:20%;
      font-family:Arial, Helvetica, sans-serif;
      font-size:100%;
      line-height:1.125em;
      color:#616161
     }

#logo {
       background:url('../images/JBRC.jpg') no-repeat right top;
       height:44% ;
       margin-right:78px
       }

.tail-top {
           background:url('../images/tail-top.jpg') left top repeat-x #fff
	  }

.tail-bottom {
	      background:url('../images/tail-bottom.gif') left bottom repeat-x 
 	     }

#header {
         height:420px
        }

#header .row-1 {padding-left:14px;}

.site-nav a {display:block;
             float:left;
	     background:url('../images/divider.gif') no-repeat right top;
             height:59px;
             line-height:59px;
             color:#fff;
             text-decoration:none;
             text-transform:uppercase;
             font-weight:bold;
             padding:0 35px;
             margin-top: -5px;
             padding-left: 42px;
             padding-right:42px;
             }
       

.site-nav a:hover {color:#c72d00}

#main {
       width:1000px;
       margin:0 auto;
       font-size:.75em
       }

#content img {
              height: 40%;
              margin-right: 167 
             }
#content{          
	 margin-left: 92px;
         text-align: justify;
         width: 829px;
         padding-bottom:98px;
         margin-top:-150px;

        }               
                

