* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/Yellow BG3.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    color: #616161;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    line-height: 1.125em;
}
#logo {
    background: url("../images/bg2.jpg") no-repeat scroll right top transparent;
    height: 44%;
    margin-right: 41px;
    margin-top: -59px;
}
#title {
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 131%;
    height: 19%;
    line-height: 6.125em;
    padding-left: 77px;
}
.tail-bottom {
    background: url("../images/tail-bottom.gif") repeat-x scroll left bottom transparent;
    margin-top: 723px;
}
#header {
    height: 360px;
}
#header .row-1 {
    padding-left: 14px;
}
.site-nav a {
    color:black;
    display: block;
    float: left;
    font-size: 120%;
    font-weight: bold;
    height: 52px;
    line-height: 65px;
    margin-top: -40px;
    padding: 0 39px;
    text-decoration: none;
    text-transform: uppercase;
}
.site-nav a:hover {
    color: #C72D00;
}
#main {
    font-size: 0.75em;
    margin: 0 auto;
    width: 1000px;
}

#content {
    color:black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 110%;
    margin-left: 92px;
    margin-top: -144px;
    padding-bottom: 98px;
    text-align: justify;
    width: 829px;
}
#home_content {
     color:black;
    margin-left: 77px;
    margin-top: -99px;
    padding-bottom: 114px;
    text-align: justify;
    width: 829px;
}
#home {
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    width:543px;
    margin-top:-160px;
}

#img{
  background: url("../images/MothersDay.jpg") no-repeat;
  width:550px;
  height:60%;
    }
#wc_image {
    margin-left: 557px;
    margin-top: -1020px;
}

#firstnews {
    margin-left: 572px;
    margin-top: 40px;
    line-height: 2.125em;
    font-size:160%;
}

#firstnews a {
    font-size:14px;
    color:black;
}
#line {
    padding: 25;
    margin-left: 46;
   
}

#firstnews h2 b {
    text-decoration: blink;
}

#news_content {
 width: 600;
}

#recent_news{
    margin-top: -2533;
    margin-left: 678; 
 
}    
#recent_news a{
    color:black;
    line-height: 1.125em;
    text-align: left;
    text-decoration: none;
}

#recent_blogs a {
    color: black;
    font-size: 16px;
    line-height: 0.600em;
    text-align: left;
    text-decoration: none;
}
#recent_blogs p {
    font-size: 25;
    font-weight: bold;
}

