{% extends "base.html" %}
 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/blog.css" rel="stylesheet" type="text/css"/>


<style>

</style>



{% block content %}
<div id="main_content">
  
    <div id="blog_container">

    {% for post in posts %}
        <div class="post-entry">
            <div class="calendar-div">
                <span class="entry-month">{{ post.publish_date|date:"M"}}</span>
                <span class="entry-date">{{ post.publish_date|date:"d"}}</span>
            </div>
            <div class="content-div">
                <a title="{{ post.title }}" rel="bookmark" href="{% url index %}{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
                <div class="entry-content">
                    {{ post.content|safe|truncatewords_html:100 }}
                </div>
                <div class="social">
                    <span class="read_more"><a href="{% url index %}{{ post.get_absolute_url }}"><h3>Read More &raquo;</h3></a></span><br/>
                    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=123147817768516&amp;xfbml=1"></script><fb:like href="{% url index %}{{ post.get_absolute_url }}" send="true" layout="button_count" width="150" show_faces="false" font=""></fb:like>
                </div>
            </div>
        </div><br/><br/><hr/><br/>
    {% endfor %}
   
    </div>

   
</div>
{% endblock %}
