

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css"/>
        
{% block extra_head %} {% endblock %}
    </head>
      <body > 
             
              <div class="tail-top">
	      <div class="tail-bottom">
			    <div id="main"> 
                            <div id="header">
                                 <div id="logo"></div>
                                   <div class="row-1">    
                                         <ul class="site-nav">
					  <a></a>
                                          {% for n in nav %}    
                                          <a href="{% url home %}{{ n.get_absolute_url }}">{{ n.title }}</a>                                                         
				          {% endfor %}
                                         </ul>  
                                    </div>
                              </div>
                                          <div id="content">
		                                 <div class="wrapper"> 
			                         <div class="col-1">
			                            <div class="section">
                                                    {% block content %} 
						    {% endblock %}
                                                    </div>     
                                                 </div>
                                                 </div>  
                                             </div> 
                    
                            </div>  
               </div>
               </div>
      </body>
<html>
              


