{% extends "base.html" %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        {% block extra_head %} 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/home.css" rel="stylesheet" type="text/css"/>
{% endblock %}
    </head>
<body>
{% block content %}
<h3>"The thief comes to steal, kill and destroy. BUT  I HAVE COME THAT YOU MAY HAVE LIFE, AND HAVE IT MORE ABUNDANTLY." <br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Jesus Christ...King of Kings, Lord of Lords (John 10:10)<br/>


<br/>By the presence of the Holy Spirit, we enjoy life on earth in full!!

<br/>Click the links below for the desired set of photos, then click on that photo to enlarge it.<br/><br/></h3>		
 {% for g in category %}
            <div><br><br>
              <h3> <p> <a href="{% url home %}gallery/{{g.get_absolute_url}}">{{g.category_name}}</a></p></h3>
            </div>
            {% endfor %}
{% endblock %}
</body>
</html>
