{% extends "base.html" %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        {% block extra_head %} 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/home.css" rel="stylesheet" type="text/css"/>
	{% endblock %}
    </head>
<body>

{% block content %}
	<div class="img">
                                                    
        <img src="{{ MEDIA_URL }}images/MothersDay.jpg"  width="824"/>
        </div>	<br/>		
<b>Jesus, Blessed Redeemer Church(JBRC)</b> is a Christ-centered, Bible-obedient Christian church who REALLY exercises the power and authority that our Redeemer Jesus Christ of Nazareth has bestowed upon us.<br/><br/>

Thus, just like in the times of the Pentecost, we joyfully exercise the full meaning of redemption by the blood of Jesus through worship, prayer, holiness, righteousness  and the fruit of the Holy Spirit (the complete package)...as should be the characteristics of the bride of our Lord Jesus Christ, our blessed redeemer.<br/><br/>

The church leadership is composed of anointed Christians well-trained in the Word of God and church ministries such as Shepherding, Evangelism, Discipleship, Worship, Prophecy, Healing and Deliverance. Through God's anointing and the leadership's advance skills in the areas of Prophecy, Healing and Deliverance (PHD), people are continuously healed and set free from their financial, relationships, physical, emotional, mental and spiritual bondages.<br/><br/>

Accompanied with the mighty works of the Holy Spirit, we are constantly expanding and now has Care Groups in Toronto, Scarborough, Etobicoke, Pickering, Mississauga and Brampton.  Our Youth Ministry is being greatly used by God to draw teenagers closer to God - - resulting to being models in the community for youth of good moral values.  Our Children Ministry exceeds in rearing up the children in the fear of the Lord...building up their biblical character...tapping them to be future leaders  in the church and in the community.<br/><br/>

Recipients of our PHD gifts has been delivered from wicked spirits, devastating spells/curses and crippling diseases. Some of the mental cases we have handled has been healed instantaneously and was released from the mental hospital immediately. Some experienced for themselves the mighty touch of God and were healed instantly or after some conditions. See some of their <a href="/Testimonials/">Testimonials.</a><br/><br/>


We are a multi-cultural, fun-loving, vibrant Christian church involved with activities that makes the community better. We coordinate with other community services group and has earned recognitions from associations like the Philippine Consulate General.  For our church's latest news, click here. <a href="/news/">News</a> </br><br/>

We love to worship God and fellowship with the brethren. Click here for photos. As per request, we pray for people's individual needs at the end of the Worship Service or people may ask for an appointment from our Pastors (416)938-9147.  If you desire to worship God in the spirit and/or if you or anyone you know need our physical/mental/emotional/spiritual help, please feel free to come to our
<br/><br/>
Worship Service on Sundays from 2-4pm Click Here for Directions.
	
{% endblock %}
</body>
</html>
