{% extends "base.html" %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        {% block extra_head %} 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/home.css" rel="stylesheet" type="text/css"/>
{% endblock %}
    </head>
<body>
{% block content %}
				
          {% for n in news %}
            <div>
                   <h2>{{n.title}}</h2><br/>
                  <h4> {{n.publish_date}}</h4>
               <p>{{n.content|safe}}</p> 
               <hr/><br>
            </div>
            {% endfor %}
{% endblock %}
</body>
</html>
