{% extends "base.html" %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
    
    <html>
    <head>
        {% block extra_head %} 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />   
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />   
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}
    </head>
<body>
{% block content %}
				
 
{% endblock %}
</body>
</html>
